---
import Layout from '../../layouts/Layout.astro'

const images = [
    'img-1.png',
    'img-2.png',
    'img-3.png',
    'img-4.png',
    'img-5.png',
    'img-6.png',
    'img-7.png',
    'img-8.png',
    'img-9.png',
    'img-10.png',
    'img-11.png',
    'img-12.png',
    'img-13.png',
    'img-14.png',
    'img-15.png',
]
---

<Layout title='3D'>
    <main class='container py-10 gallery'>
        <div>
            <h1 class='text-4xl font-bold text-center mb-10'>3D</h1>
        </div>

        <div class='grid grid-cols-1 md:grid-cols-4 gap-10'>
            {
                images.map((image) => (
                    <a href={`/assets/services/3d/${image}`}>
                        <img
                            alt='Letrero luminoso'
                            src={`/assets/services/3d/${image}`}
                        />
                    </a>
                ))
            }
        </div>
    </main>
</Layout>
